/* usermod.css */ 
/* Anpassungen des Designs von */
/* openschulportfolio koennen */
/* hier vorgenommen werden */

/* Hintergrundbild fuer den Kopfbereich */
/* Standard: Ausgeblendete hellgraus Quadrate */
/* Bildgroesse: 970 x 100 */
#pf_header {
    background: transparent url("header_back.png") top left no-repeat;
}

/* Bild fuer den Logobereich oben links */
/* Standard: Ueberquellende Dokumentenablage */
/* Bildgroesse max 115 x 100 */
#pf_logo {
    background: transparent url("header_logo.png") top left no-repeat;
}

/* Hintergrundbild fuer den body */
/* Standard: Schatten links und rechts des Inhaltsbereichs */
body {
    background: transparent url("body_back.jpg") top center repeat-y;
}



